/* ----- cores ----- */

/* variaveis cores */
:root {
    /* tons de cinza até o preto */
    --c12: #000000;
    --c11: #882e4e;
    --c10: #2e2e2e;
    --c09: #404040;
    --c08: #595959;
    --c07: #717171;
    --c06: #9c9c9c;
    --c05: #b2b2b2;
    --c04: #cccccc;
    --c03: #dedede;
    --c02: #ededed;
    --c01: #f7f7f7;
    --w: #ffffff;

    /* tons de amarelo */

    --p5: #c0587d;
    --p4: #a15159;
    --p3: #bd747b;
    --p2: #d2959b;
    --p1: #efc0c5;

}

/* ----------------------------- */

/* tons de cinza classes */
.cor-0 {
    color: var(--w);
}

.cor-1 {
    color: var(--c01);
}


.cor-2 {
    color: var(--c02);
}



.cor-3 {
    color: var(--c03);
}



.cor-4 {
    color: var(--c04);
}



.cor-5 {
    color: var(--c05);
}



.cor-6 {
    color: var(--c06);
}



.cor-7 {
    color: var(--c07);
}



.cor-8 {
    color: var(--c08);
}



.cor-9 {
    color: var(--c09);
}



.cor-10 {
    color: var(--c10);
}



.cor-11 {
    color: var(--c11);
}



.cor-12 {
    color: var(--c12);
}



/* cores de amarelo */


.cor-p1 {
    color: var(--p1);
}

.cor-p2 {
    color: var(--p2);
}

.cor-p3 {
    color: var(--p3);
}

.cor-p4 {
    color: var(--p4);
}

.cor-p5 {
    color: var(--p5);
}