/* ---- servico Lista----- */

.lista-servico {
    padding-top: 60px;
    padding-bottom: 120px;
}


ul.lista-servico-items {
    display: flex;
    gap: 40px;
    padding: 0 20px 20px 20px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
}

#servico .lista-servico-items{
  padding: 0px 0px 20px 0px ;  
}

.lista-servico li {
    min-width: 280px;
}


.lista-servico a {
    display: block;
}

.lista-servico img {
    margin-bottom: 16px;
}

.lista-servico h3 {
    margin-bottom: 8px;
    display: flex;
    align-items: center;

}

.lista-servico h3::before {
    content: "";
    height: 8px;
    width: 12px;
    background-color: var(--p1);
    display: inline-block;
    margin-right: 8px;
    transition: width 0.2s;
}

.lista-servico a:hover h3::before {
    width: 24px;
}

.lista-servico li span {
    padding-left: 20px;
}

@media (max-width: 800px) {
    .lista-servico {
        padding-bottom: 60px;
    }

    .lista-servico ul {
        gap: 20px;
    }
}