/* ---- tecenologias ------ */

.espaco-bg {
    background-color: var(--p1);
    box-shadow: inset 0 80px var(--w), inset 0 -80px var(--w);
}

.espaco {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.espaco-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
}

.espaco-conteudo {
   padding-top: 160px; 
   padding-bottom: 160px;
}

.espaco-conteudo > span {
    display: block;
    margin-bottom: 20px;
}


.espaco-conteudo  h2 {
    margin-bottom: 32px;
}

.espaco-conteudo > p {
    margin-bottom: 20px;
}

.espaco a {
    margin: 80px;
}

.espaco-vantagens {
    display: flex;
    gap: 40px;
}

.espaco-vantagens h3 {
    margin-bottom: 8px;
    width: max-content;
}

.espaco-vantagens img {
    width: 24px;
    margin-bottom: 8px;
}

@media (max-width:800px) {
    .espaco-bg {
        box-shadow: initial;
    }

    .espaco {
        grid-template-columns: 1fr;
    }

    .espaco-conteudo {
        padding-top:60px ;
        padding-bottom: 60px;
    }

    .espaco-img {
        display: none;
    }

    .espaco a{
        margin-bottom: 60px;
    }
}

@media (max-width: 600px) {
    .espaco-vantagens {
        flex-direction: column;
    }
}